.aboutPotato {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    margin: 20px;
    border: 2px solid #FFD700;
    padding: 20px;
}

.aboutPotato img {
    width: 30%;
    height: auto;
}

.aboutPotato h2,
.aboutPotato p {
    margin: 0;
}
