.navbar {
    background-color: #A67B5B;
    border-bottom: 3px solid gold; 
    display: flex;
    justify-content: space-around;
    padding: 14px 0; 
    margin: 0; 
    width: 100%; 
    overflow: hidden;
}

.navbar a {
    color: #ffd700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
    margin: 0 10px;
}

.navbar a:hover {
    background-color: #C4A484; 
    color: #FFFFFF;
    padding: 14px 16px;
}
