.potatoHouse img {
    width: 35%;
    grid-column: span 2;
}

.potatoHouse h1 {
    margin: 0;
    text-align: center
    
}

.potatoHouse {
    display: grid;
    grid-template-columns: 1f 1fr;
    gap: 20px;
    align-items: start;
    margin: 20px;
    border: 2px solid #FFD700;
    padding: 20px;
}

.loginContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.loginForm input, 
.loginForm button {
    display: block;
    margin: 10px auto;
}